@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 26 26 26;
  }
  
  body {
    @apply bg-white text-charcoal-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
